<div
  class="d-flex justify-content-center align-items-center vh-100 bg-body-tertiary"
>
  <div class="text-center">
    <form>
      <img
        src="assets/Logo.png"
        class="img-fluid mb-3"
        alt="Logo"
        width="180"
      />
      <h1 class="mb-3">Faça seu login</h1>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email" required />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Senha"
          required
        />
      </div>
      <button class="btn btn-primary w-100" type="submit">Entrar</button>
    </form>
  </div>
</div>
